[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
wheel = "*"
coverage = "*"
coveralls = "*"

[packages]
pyyaml = "*"

[requires]
python_version = "3.7"
